##
# Service configuration file
##

# Allow debug mode. More about debug mode in README file.
debug: yes

# Regular expressions for log parsing and formatting
regex:
	# Single log entry after preprocess routines.
	log_entry: '/(?<timestamp>[0-9]{10}) \| \[DAYZ-SA\] (?<event>[A-Z\_]+):(?<attrs>.+)/'
	# Log entry attribute.
	# Requires two arrays in matches: 'keys' and 'values'.
	attribute_entry: '/(\s(?<keys>[\_a-z0-9]+)=\"(?<values>.*?)\")/'
	# Attribute group delimiter string. Converts 'group1_group2_key' key to object:
	# { group1: { group2: { key: value } } }
	attribute_group_delimiter: '_'
	# Special attribute regexes.
	# System will use all non-numeric keys found in matches as its new value.
	# {key}: {regex}
	attributes:
		# position="<7743.427246, -118.704254, 12632.520508>"
		#	to
		# { position: { x: 7743.427246, y: -118.704254, z: 12632.520508 } }
		position: '<(?<x>[\-0-9.]+), (?<y>[\-0-9.]+), (?<z>[\-0-9.]+)>'

limits:
	# Fontend limits
	filters:
		# SteamID filter shown?
		steamid: yes
		# Time filters shown?
		time: yes
		# Event type filters shown?
		type: yes
	# Fontend limits
	extensions:
		# Extended visual options shown?
		visuals: yes
		# Server selection shown?
		server: yes
		# Log selection shown?
		log: yes
		# Event statistics shown?
		stats: yes
		# Status bar shown?
		status: yes
	# Backend limits
	events:
		# List of event types allowed to be displayed
		whitelist:
		#	- CONNECTED
		# List of event types forbidden from being displayed
		blacklist:
		#	- CONNECTED

behaviour:
	# selectable, preselected, group, all
	server: selectable
	# if all: null
	# if selectable: null
	# if preselected: {SERVER_ID}
	# 	or
	# if preselected:
	# 	- {SERVER_ID}
	# 	- {SERVER_ID}
	# if group: {GROUP_NAME}
	serverSelection: null
	# selectable, preselected, today, time, all
	log: selectable
	# if all: null
	# if selectable: null
	# if preselected: {FILENAME}
	#	or
	# if preselected:
	# 	- {FILENAME}
	# 	- {FILENAME}
	# if today: null
	# if time: {INTERVAL (5 hours, 2 days, ...)}
	logSelection: null
	# Maximum amount of time to keep cached logs valid.
	cacheInterval: 6 hours
	# Array of regular expressions which will force matching log files not to be cached.
	dontCache:
		- '/DayZServer_x64.ADM/'
