##
# Service configuration file
##

# Allow debug mode. More about debug mode in README file.
debug: yes

# Basic public site information
meta:
	# Site name displayed in page title and when sharing a link
	siteName: 'DayZ-SA.cz :: Event Viewer Tool'
	# Website description
	description:
	# Website keywords
	keywords: 'dayz,dayz standalone,dayz-sa.cz,executor,map,interactive map,kill,feed,live,log,history'
	# OGP Type
	type: website
	# Thumbnail image
	images:
		# Absolute path to domain root
		/executor/images/thumbnail.jpg:
			type: image/jpeg
			width: 1280
			height: 670
	# Special Facebook OGP properties
	facebook:
		app_id: 921262951242998
		page_ids:
			- 1486103288331802
		admins:
			- 100000571403482

# Steam service extension configuration
steam:
	# Settings for Steam login
	login:
		# Can users log-in with Steam account?
		sessionName: SteamAccount
		# Can users log-in with Steam account?
		enabled: yes
		# Shoul they be prompted to log-in?
		prompt: no
		# Defines interval between log-in prompts
		promptInterval: 86400
		# Shoul user be forced to log-in before being able to use the map?
		force: no
		# Content of prompt/forced prompt dialog
		dialogContent: ''
		# After login display only player's events
		showOnlyPlayerEvents: yes

# Regular expressions for log parsing and formatting
regex:
	# Single log entry after preprocess routines.
	log_entry: '/(?<timestamp>[0-9]{10}) \| \[DAYZ-SA\] (?<event>[A-Z\_]+):(?<attrs>.+)/'
	# Log entry attribute.
	# Requires two arrays in matches: 'keys' and 'values'.
	attribute_entry: '/(\s(?<keys>[\_a-z0-9]+)=\"(?<values>.*?)\")/'
	# Attribute group delimiter string. Converts 'group1_group2_key' key to object:
	# { group1: { group2: { key: value } } }
	attribute_group_delimiter: '_'
	# Special attribute regexes.
	# System will use all non-numeric keys found in matches as its new value.
	# {key}: {regex}
	attributes:
		# position="<7743.427246, -118.704254, 12632.520508>"
		#	to
		# { position: { x: 7743.427246, y: -118.704254, z: 12632.520508 } }
		position: '<(?<x>[\-0-9.]+), (?<y>[\-0-9.]+), (?<z>[\-0-9.]+)>'

limits:
	# Fontend limits
	filters:
		# SteamID filter shown?
		steamid: yes
		# Time filters shown?
		time: yes
		# Time filter interval length
		timeIntervals: 300
		# Event type filters shown?
		type: yes
	# Fontend limits
	extensions:
		# Extended visual options shown?
		visuals: yes
		# Server selection shown?
		server: yes
		# Log selection shown?
		log: yes
		# Event statistics shown?
		stats: yes
		# Status bar shown?
		status: yes
		# Steam sign in button shown?
		steamAccount: yes
	# Frontend limits
	popups:
		# Should event popups be available?
		enabled: yes
		# Should event type be displayed in the popups?
		type: yes
		# Should date and time be displayed in the popups?
		datetime: yes
		# Should name be displayed in the popups?
		name: yes
		# Should steam profile link be displayed in the popups?
		steamProfile: yes
		# Should all data be displayed as JSON in the popups?
		json: yes
	# Frontend limits
	tooltips:
		# Should event tooltips be available?
		enabled: yes
		# Should date and time be displayed in the tooltips?
		datetime: yes
		# Should name be displayed in the tooltips?
		name: yes
	# Backend limits
	events:
		# List of event types allowed to be displayed
		whitelist:
		#	- CONNECTED
		# List of event types forbidden from being displayed
		blacklist:
		#	- CONNECTED
	attributes:
		# List of event attributes allowed to be displayed
		whitelist:
		#	- steamid64
		# List of event attributes forbidden from being displayed
		blacklist:
		#	- steamid64

behaviour:
	# Specifies how is server going to be selected/provided to the application.
	# 	- selectable	one server selected by user from any availabe
	#	- preselected	one/more servers selected by this file (aggregated if selected > 1)
	#	- group			all servers from specified group by this file (aggregated)
	#	- all			all available servers (aggregated)
	server: selectable
	# if all: null
	# if selectable: null
	# if preselected: {SERVER_ID}
	# 	or
	# if preselected:
	# 	- {SERVER_ID}
	# 	- {SERVER_ID}
	# if group: {GROUP_NAME}
	serverSelection: null
	# Specifies how is log file going to be selected/provided to the application.
	# 	- selectable	one file selected by user from any availabe
	# 	- preselected	one/more servers selected by this file (aggregated if selected > 1)
	# 	- today			all files (even partially) containing today's log entries (aggregated)
	# 	- time			all files (even partially) containing log entries with acceptable timestamp (aggregated)
	# 	- all			all available files (aggregated)
	log: selectable
	# if all: null
	# if selectable: null
	# if preselected: {FILENAME}
	#	or
	# if preselected:
	# 	- {FILENAME}
	# 	- {FILENAME}
	# if today: null
	# if time: {INTERVAL (5 hours, 2 days, ...)}
	logSelection: null
	# Maximum amount of time to keep cached logs valid.
	cacheInterval: 6 hours
	# Array of regular expressions which will force matching log files not to be cached.
	dontCache:
		- '/DayZServer_x64.ADM/'

# Application's endpoint specification
endpoints:
	servers: 'index.php?action=servers'
	logs: 'index.php?action=logs'
	zones: 'index.php?action=zones'
	events: 'index.php?action=events'
